<div class="jumbotron">
	<h1>Who we are:</h1>

	<p>We are a small group of people dedicated to spreading the joy of the humble Avocado.</p>

	<p>We like avocados and eat them every chance we get.</p>

	<p>We think other people should have the chance to eat avocados so we are doing everything we can to make them more affordable, easier to care for, and simple to obtain.  We firmly believe that avocados have significant health benefits including reducing heart disease and bad cholesterol.</p>
</div>

<div class= "pickles">
	<h3>Our Allies</h3>

	<p>We are friends of the onion, cilantro, jalapeño, tomato, and sundry herbs and seasonings.</p>

	<h3>Our Enemies</h3>

	<p>We are steadfastly against millionaires who think that avocado toast is the reason people can't afford to buy homes.  We also oppose wasps, locusts, and dutch elm disease.</p>
</div>
