<div class="jumbotron">
  <h1>What We Do</h1>
  <p class="lead">We are committed to defending the humble avocado from all those who would oppress it. We believe that avocados are good for you and should be used as often as possible.  We research healthy nutritional uses for avocados, lobby government for pro-avocado legislation, support our local growers, endorse festivals, and constantly plot world domination for the good of all avocados.</p>
  <p>
  <%= link_to "Contact Us", contact_path, class: "btn btn-lg btn-success", role:"button" %>
  </p>
  <a href="https://PayPal.Me/DavidHamaker/25" target="_blank" ><p>We could use your help to make avocados great again.  Can you contribute $25 to our cause?</p></a>
</div>

	<!-- Example row of columns -->
<div class="row">
  <div class="col-lg-4 image">
    <h2>Avocado Toast</h2>
    <p><%= image_tag("AvocadoToast.jpeg", :class=> "images")%></p>
    <p><a class="btn btn-primary" href="http://www.foodnetwork.com/recipes/food-network-kitchen/avocado-toasts-3364588" target="_blank" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-lg-4 image">
    <h2>Baked Egg Avocado</h2>
    <p><%= image_tag("BakedEggAvocado.jpg", :class=> "images")%></p>
    <p><a class="btn btn-primary" href="https://www.popsugar.com/fitness/Baked-Eggs-Avocado-Recipe-30787252" target="_blank" role="button">View details &raquo;</a></p>
 </div>
  <div class="col-lg-4 image">
    <h2>Healthy Guacamole</h2>
    <p><%= image_tag("Guac.jpg", :class=> "images")%></p>
    <p><a class="btn btn-primary" href="http://allrecipes.com/recipe/14902/daddys-guacamole-dip/" target="_blank"role="button">View details &raquo;</a></p>
  </div>
</div>

